<!DOCTYPE html>
<html ng-app="app">
<head>
<!-- Title -->
    	<title>RFP Counter Demo</title>
<!-- meta data -->
	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
<!-- BootStrap -->
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<!-- Angular app -->
	<script>
		var app = angular.module("app", ["firebase"]);
		app.controller("RootCtrl", function($scope, $firebaseArray) {
		
		// Variables for example
		$scope.newRFP = {}
            	$scope.newTotal = {}
		$scope.lockName = false;
		// Set database path references for RFPs
			var refRfp = new Firebase("https://rfpcounter.firebaseio.com/RFPs/");
		// Bind (three-way)
			$scope.rfps = $firebaseArray(refRfp);
			
            	// Set database path references for Totals
            		var refTotal = new Firebase("https://rfpcounter.firebaseio.com/Totals/");
            	// Bind (three-way)
			$scope.totals = $firebaseArray(refTotal);
			
		// Add new chat message
		$scope.send = function(){
		// Add it to firebase db (and let the magic happen)
		$scope.rfps.$add( $scope.newRFP );
        	$scope.totals.$add( $scope.newTotal );
		//Reset msg
		$scope.newRFP.tenTillEleven = '';
            	$scope.newRFP.elevenTillTwelve = '';
		//Lock name for this session
		$scope.lockName = true;
			}
            
            /*
            var updateRef = new Firebase('https://rfpcounter.firebaseio.com/Totals/10-11');
            updateRef.update({
            value: 1
            });
           */ 
            
            // Update Function
            var updateRef = new Firebase('https://rfpcounter.firebaseio.com/Totals/tenTillEleven');
            
            $scope.update = function(){
                
            updateRef.update({
            value: $scope.newTotal.tenTillEleven
            });
                
            }
		});
	</script>
</head>
<body ng-controller="RootCtrl">
	
	<div class="jumbotron text-center">
		<h1>Hi Matt!</h1>
	</div>
	
	<div class="container text-center">
  		<div class="row">
			<div class="col-sm-4">
				<input ng-model="newRFP.tenTillEleven" placeholder="10" />
			</div>
			<div class="col-sm-4">
				<input ng-model="newRFP.elevenTillTwelve" placeholder="12" />
			</div>
			<div class="col-sm-4">
				<input ng-model="newTotal.tenTillEleven" placeholder="0" />
			</div>
		</div>
	</div>
		
	<div class="row">
		<div class="col-sm-12">
			<button ng-disabled="!newRFP.tenTillEleven || !newRFP.tenTillEleven || !newTotal.tenTillEleven" ng-click="send()">Send</button>
			<button ng-click="update()">Update</button>
		</div>
	</div>
		
	<div class="row" ng-repeat="rfp in rfps">
		<div class="col-sm-12">
			<h1>10-11: {{rfp.tenTillEleven}}</h1>
		</div>
	</div>
	
	<div class="row" ng-repeat="total in totals">
		<div class="col-sm-12">
			<h2>10-11 Total: {{total.value}}</h2>
		</div>
	</div>
	
</body>
</html>
