<!DOCTYPE html>
<html ng-app="app">
    <head>
        <!-- Title -->
        <title>RFP Counter Demo</title>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
        <!-- BootStrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Angular app -->
        <script>
            var app = angular.module("app", ["firebase"]);
            app.controller("RootCtrl", function($scope, $firebaseArray) {

                // Database URL
                var dbURL = "https://rfpcounter.firebaseio.com/"
                // Set database path references for RFPs
                var refRfp = new Firebase(dbURL + 'RFPs/');
                // Bind (three-way)
                $scope.rfps = $firebaseArray(refRfp);

                // Set database path references for Totals
                var refTotal = new Firebase(dbURL + 'Totals/');
                // Bind (three-way)
                $scope.totals = $firebaseArray(refTotal);

                // Variables
                $scope.newRFP = {}
                $scope.newTotal = {}
                $scope.lockName = false;
                // Times 
                $scope.tenTillEleven = "10am - 11am"
                $scope.elevenTillTwelve = "11am - 12pm"
                $scope.twelveTillOne = "12pm - 1pm"
                $scope.oneTillTwo = "1pm - 2pm"
                $scope.twoTillThree = "2pm - 3pm"
                $scope.threeTillFour = "3pm - 4pm"
                $scope.fourTillFive = "4pm - 5pm"
                $scope.fiveTillSix = "5pm - 6pm"
                $scope.sixTillSeven = "6pm - 7pm"
                $scope.sevenTillEight = "7pm - 8pm"
                $scope.nextDay = "Next Day"


                const totalsPath = new Firebase(dbURL + 'Totals/Array/');
                var rfpsPath = new Firebase(dbURL + 'RFPs/Array/');

                const rfpsPathDb = $firebaseArray(new Firebase(dbURL + 'RFPs/Array/'));

                // Update Function
                $scope.updateAllTotals = function(){

                    totalsPath.update({
                        tenTillEleven: $scope.newTotal.tenTillEleven,
                        elevenTillTwelve: $scope.newTotal.elevenTillTwelve,
                        twelveTillOne: $scope.newTotal.twelveTillOne,
                        oneTillTwo: $scope.newTotal.oneTillTwo,
                        twoTillThree: $scope.newTotal.twoTillThree,
                        threeTillFour: $scope.newTotal.threeTillFour,
                        fourTillFive: $scope.newTotal.fourTillFive,
                        fiveTillSix: $scope.newTotal.fiveTillSix,
                        sixTillSeven: $scope.newTotal.sixTillSeven,
                        sevenTillEight: $scope.newTotal.sevenTillEight,
                        nextDay: $scope.newTotal.nextDay
                    });

                    rfpsPath.update({
                        tenTillEleven: $scope.newTotal.tenTillEleven,
                        elevenTillTwelve: $scope.newTotal.elevenTillTwelve,
                        twelveTillOne: $scope.newTotal.twelveTillOne,
                        oneTillTwo: $scope.newTotal.oneTillTwo,
                        twoTillThree: $scope.newTotal.twoTillThree,
                        threeTillFour: $scope.newTotal.threeTillFour,
                        fourTillFive: $scope.newTotal.fourTillFive,
                        fiveTillSix: $scope.newTotal.fiveTillSix,
                        sixTillSeven: $scope.newTotal.sixTillSeven,
                        sevenTillEight: $scope.newTotal.sevenTillEight,
                        nextDay: $scope.newTotal.nextDay
                    });
                }


                // Decrease Number 
                $scope.decreaseTotal1 = function(num){  


                    if ("tenTillEleven".equals(num)){
                        var tenTillElevenNum = rfpsPathDb.$getRecord("tenTillEleven").$value
                        if (tenTillElevenNum > 0) {
                            rfpsPath.update({
                                tenTillEleven: tenTillElevenNum - 1
                            });
                        }
                    }

                }

                $scope.decreaseTotal = function(num){ 

                    var path = ""
                    var pathNum = path + "Num"

                    switch (num) {

                        case 10: path = "tenTillEleven";break;
                        case 11: path = "elevenTillTwelve";break;
                        case 12: path = "twelveTillOne";break;
                        case 1: path = "oneTillTwo";break;
                        case 2: path = "twoTillThree";break;
                        case 3: path = "threeTillFour";break;
                        case 4: path = "fourTillFive";break;
                        case 5: path = "fiveTillSix";break;
                        case 6: path = "sixTillSeven";break;
                        case 7: path = "sevenTillEight";break;
                        case 99: path = "tenTillEleven";break;
                        default: path = ""
                    }


                    var pathNum = rfpsPathDb.$getRecord(String(path)).$value
                    if (pathNum > 0) {
                        rfpsPath.update({
                            [path]: parseInt(pathNum) - 1

                        });
                    }


                }

                $scope.increaseTotal = function(){

                    var path = "nextDay"
                    var pathNum = path + "Num"

                    var pathNum = rfpsPathDb.$getRecord(String(path)).$value
                    rfpsPath.update({
                        [path]: parseInt(pathNum) + 1

                    });
                }

            });
        </script>

        <style>
            .smallText {
                font-size: 14px;
            }
            .navbar {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }

            .vertical {
                display: inline-block;
                width: 80px;
                min-height: 100px;
                -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
                transform: rotate(-90deg);
            }

            /* The heart of the matter */
            .testimonial-group > .row {
                overflow-x: auto;
                white-space: nowrap;
            }
            .testimonial-group > .row > .col-xs-3 {
                display: inline-block;
                float: none;
            }

            /* Decorations */
            .col-xs-3 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
            .col-xs-3:nth-child(3n+1) { background: #c69; }
            .col-xs-3:nth-child(3n+2) { background: #9c6; }
            .col-xs-3:nth-child(3n+3) { background: #69c; }

        </style>
    </head>

    <body ng-controller="RootCtrl">

        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" id="Set" button data-toggle="collapse" data-target="#totals, #10-11, #11-12, #12-1, #1-2, #2-3, #3-4, #4-5, #5-6, #6-7, #7-8, #nxd"><span class="glyphicon glyphicon-user"></span></button> Set Totals</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="jumbotron text-center">
    <h1>Hi Matt!</h1>
</div>

<div class="container text-center testimonial-group">

    <div id="totals" class="collapse">
        <h1>Set Totals</h1>
        <p>Click button to set totals</p>
        <button ng-disabled="!newTotal.tenTillEleven" ng-click="updateAllTotals()" data-toggle="collapse" data-target="#totals, #10-11, #11-12, #12-1, #1-2, #2-3, #3-4, #4-5, #5-6, #6-7, #7-8, #nxd" class="btn btn-primary btn-sm">Set</button>            
    </div>

    <div class="row" ng-repeat="rfp in rfps">
        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{tenTillEleven}}</h5>
            <h2>{{rfp.tenTillEleven}} / <span class="smallText">{{total.tenTillEleven}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.tenTillEleven / total.tenTillEleven * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="10-11" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.tenTillEleven" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(10)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ elevenTillTwelve }}</h5>
            <h2>{{rfp.elevenTillTwelve}} / <span class="smallText">{{total.elevenTillTwelve}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.elevenTillTwelve / total.elevenTillTwelve * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="11-12" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.elevenTillTwelve" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(11)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ twelveTillOne }}</h5>
            <h2>{{rfp.twelveTillOne}} / <span class="smallText">{{total.twelveTillOne}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.twelveTillOne / total.twelveTillOne * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="12-1" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.twelveTillOne" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(12)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ oneTillTwo }}</h5>    
            <h2>{{rfp.oneTillTwo}} / <span class="smallText">{{total.oneTillTwo}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.oneTillTwo / total.oneTillTwo * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="1-2" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.oneTillTwo" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(1)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ twoTillThree }}</h5>
            <h2>{{rfp.twoTillThree}} / <span class="smallText">{{total.twoTillThree}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.twoTillThree / total.twoTillThree * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="2-3" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.twoTillThree" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(2)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ threeTillFour }}</h5>
            <h2>{{rfp.threeTillFour}} / <span class="smallText">{{total.threeTillFour}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.threeTillFour / total.threeTillFour * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="3-4" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.threeTillFour" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(3)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ fourTillFive }}</h5>
            <h2>{{rfp.fourTillFive}} / <span class="smallText">{{total.fourTillFive}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.fourTillFive / total.fourTillFive * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="4-5" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.fourTillFive" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(4)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ fiveTillSix }}</h5>
            <h2>{{rfp.fiveTillSix}} / <span class="smallText">{{total.fiveTillSix}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.fiveTillSix / total.fiveTillSix * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="5-6" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.fiveTillSix" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(5)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ sixTillSeven }}</h5>
            <h2>{{rfp.sixTillSeven}} / <span class="smallText">{{total.sixTillSeven}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.sixTillSeven / total.sixTillSeven * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="6-7" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.sixTillSeven" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(6)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>

        <div class="col-xs-3" ng-repeat="total in totals">
            <h5>{{ sevenTillEight }}</h5>
            <h2>{{rfp.sevenTillEight}} / <span class="smallText">{{total.sevenTillEight}}</span></h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.sevenTillEight / total.sevenTillEight * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="7-8" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.sevenTillEight" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="decreaseTotal(7)" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>
        <!-- Last Div -->
    </div>
    
    <div class="row" ng-repeat="rfp in rfps">
    <div class="col-xs-12" ng-repeat="total in totals">
            <h5>{{ nextDay }}</h5>
            <h2>{{rfp.nextDay}}</h2>

            <div ng-repeat="rfp in rfps">
                <div class="progress vertical" ng-repeat="total in totals">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ (rfp.nextDay / total.nextDay * 100) }}%;">
                    </div>  
                </div>
            </div>

            <div id="nxd" class="collapse">
                <h5>Total</h5><input ng-model="newTotal.nextDay" class="form-control input-sm" placeholder="Total"/>
            </div>

            <button ng-click="increaseTotal()" type="button" class="btn btn-primary btn-sm">Use</button>
        </div>
    </div>


    </body>
</html>
